/* You're given an HTML file with 
three nested divs, each with a 
unique ID.

Using only CSS, style the HTML to 
have the appearance of six concentric
 colored circles.

From outside to inside, the circles 
should have the following 
characteristics:

300px by 300px,
#ff0000
250px by 250px,
#ffa500
200px by 200px,
#ffff00
150px by 150px,
#008000
100px by 100px,
#0000ff
50px by 50px,
#800080
While there are a variety of ways to 
achieve this desired output, for the 
purpose of this problem all colors 
should be achieved using background 
colors and/or box model properties.

Your submission will be assessed based
on how similar your Browser Output is 
to the Expected Output; it should be 
nearly identical. */
body{
    margin: 0;
}

#outer{
background-color: #ffa500;
border: 25px solid #ff0000;
height: 250px;
width: 250px;
}

#middle{
    background-color: #008000;
    border: 25px solid #ffff00 ;
    height: 150px;
    width: 150px;   
}

#inner{
background-color: #800080;
border: 25px solid#0000ff ;
height: 50px;
width: 50px;    
}

#outer, #middle, #inner{
    border-radius: 50%;
}

#middle, #inner{
    margin: 25px;
}